body {
  background-image: url(../img/fondoTextura.png);
  font-family: "Old Standard TT", serif;
}

header img {
  width: 50px;
  height: 50px;
  margin: 13px;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ordenDePagina {
  display: flex;
  flex-direction: row;
  align-items: center;
}

aside {
  color: bisque;
  display: flex;
  flex-direction: column;
}
aside a {
  color: white;
}

/* aside a {
  color: white;
} */

h1 {
  color: goldenrod;
  margin: auto;
}

ul {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

li {
  list-style: none;
  padding: 5px;
}
a {
  color: goldenrod;
  text-decoration: none;
  transition: background-color 1s;
}
a:hover {
  color: black;
  background-color: rgb(179, 135, 25);
}
.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

p {
  color: goldenrod;
  margin: auto;

  padding: 10px;
}
img {
  width: 200px;
}

.izq:hover img {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  transition: all 0.5s ease-in-out;
}
.der:hover img {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  transition: all 0.5s ease-in-out;
}

.izq,
.der {
  display: flex;
}
h6 {
  color: white;
}

/* cajas con imagen de discos y link a youtube */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:15px;
}


footer img {
  width: 50px;
  height: 50px;
  padding: 3px;
}
@media (max-width: 870px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 730px) {
  .container {
    flex-direction: column-reverse;
  }
  .ordenDePagina {
    flex-direction: column-reverse;
  }
  aside {
    padding-top: 23px;
  }
}
